<!DOCTYPE html>
<html>
  <head>
    <title>GhFeedReader</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style content="text/css"><!--
      body {
        padding-top: 58px;
      }
    --></style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GhFeedReader</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <h4>Activities</h4>
            <ul class="nav nav-list">
              <% Rss.find_each do |rss| %>
                <li><%= link_to rss.uid, activity_path(uid: rss.uid) %></li>
              <% end %>
            </ul>
            <h4>Authors</h4>
            <ul class="nav nav-list">
              <% Author.find_each do |author| %>
                <li><%= link_to author.uid, authors_activity_path(uid: author.uid) %></li>
              <% end %>
            </ul>
            <h4>Settings</h4>
            <ul class="nav nav-list">
              <li><%= link_to 'RSS', rsses_path %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->
      <footer>
      <p>&copy; Company 2012</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
